* {
  height: 100vh;
}

.home {
  display: flex;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.front1,
.back,
.back1 {
  /* flex: 0 1 50%; */
  width: 200px;
  height: 200px;
  /* margin: 10px; */
}

/* flip speed goes here */
.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
}

.front,
.front1,
.front2,
.front3,
.back,
.back1,
.back2,
.back3 {
  backface-visibility: hidden;
  position: absolute;
}

/* front pane, placed above back */
.front {
  /* z-index: 2; */
  background-color: brown;
  width: 200px;
  height: 200px;
}

/* back, initially hidden pane */
.back {
  /* height: auto; */
  /* width: auto; */
  background-color: aqua;
  transform: rotateY(180deg);
  width: 200px;
  height: 200px;
}

.front1 {
  background-color: forestgreen;
  width: 200px;
  height: 200px;
}

.back1 {
  background-color: fuchsia;
  transform: rotateY(180deg);
  width: 200px;
  height: 200px;
}

.front2 {
  background-color: gold;
  width: 200px;
  height: 200px;
}

.back2 {
  background-color: aquamarine;
  transform: rotateY(180deg);
  width: 200px;
  height: 200px;
}

.front3 {
  background-color: gray;
  width: 200px;
  height: 200px;
}

.back3 {
  background-color: ghostwhite;
  transform: rotateY(180deg);
  width: 200px;
  height: 200px;
}
